.image-section {
    display: flex;
    justify-content: center;
}
.section-style{
    
    margin-left:25px;
    margin-right;25px
    background-color:darkgoldenrod;
    
}#image1{
   height:280px;
   width:390px;

}
#image2{
   height:280px;
   width:390px;

}
#64w89"{
   height:280px;
   width:390px;

}

